html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%; /* 10px */
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #444;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

header {
    display: none;
  padding-top: 34px;
  background-color: red;
/*  background-image: url(images/kettu_bg_header_iphone.png);
  background-position: center 4px;
  background-repeat: no-repeat;
*/  border-bottom: 1px solid #CCC;
}

#container {
  width: 100%;
}

/* hide for now */
.sorts_dropdown, #reverse_link, #search_filter, #footer {
  display: none !important;
}

#filterbar, #globalUpAndDownload {
  text-align: center;
}

#filter_sort_links {
  margin: 0 auto;
}

.progressbar {
  width: 80%;
}

/* everything below here is common material - could be moved to a generic css file? */

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .5em;
}

#info,
#info h1, #info h2, #info h3, #info h4, #info h5, #info h6 {
  color: #444;
}

/* flash */
#flash {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  font-weight: bold;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.torrent:nth-child(odd) {
  background-color: #FFF;
  background: -moz-linear-gradient(left, right, from(white), to(#F6F6F6));
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#F7F7F7));
  overflow: hidden;
}

.torrent:nth-child(even) {
  background-color: #FAFAFA;
  background: -moz-linear-gradient(left, right, from(#F7F7F7), to(#EFEFEF));
  background: -webkit-gradient(linear, center top, center bottom, from(#F6F6F6), to(#EDEDED));
  overflow: hidden;
}

.torrent {
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: background;
  -moz-transition-duration: 0.4s, 0.1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: background;
  -o-transition-duration: 0.4s, 0.1s;
  -o-transition-timing-function: linear, ease-in;
}

.torrent.active {
  background-color: #E7E7E7 !important;
  background: -webkit-gradient(linear, center top, center bottom, from(#DFDFDF), to(#D3D3D3));
  color: #000;
}
.torrent.active h3 {
  color: #000;
  text-shadow: 1px 1px 10px #FFF;
}

.torrent .ui-widget-header-uploading {
  border: 1px solid #AAA;
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_60_4ca20b_1x100.png) repeat-x;
}

.torrent .ui-widget-header-verifying {
  border: 1px solid #AAA;
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x;
}

.torrent .ui-widget-header-downloading {
  border: 1px solid #AAA;
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x;
}

.torrent .ui-widget-header-meta {
  border: 1px solid #AAA;
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-hard_75_f5f5b5_1x100.png) repeat-x;
}

.torrent .ui-widget-header-paused {
  border: 1px solid #AAA;
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x;
}

/* torrent control buttons */
.buttons {
  display: block;
  float: right;
}

.buttons form {
  display: inline;
}

.buttons input[type='submit'],
.buttons a {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buttons .pauseAndActivateButton {
  float: left;
  display: block;
  margin-right: 1em;
  color: transparent;
  background-color: transparent;
  border: 0;
}

.pauseAndActivateButton.activate {
  background: transparent url(images/control_play.png) no-repeat;
}

.pauseAndActivateButton.pause {
  background: transparent url(images/control_pause.png) no-repeat;
}

.deleteButton {
  color: transparent;
  background: transparent url(images/control_eject.png) no-repeat;
}


.torrent .statusString {
  clear: both;
  color: #999;
}

.torrent .progressDetails {
  margin: 0px;
  padding: 0px;
  color: #555;
}

/* filterbar */

#filterbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#filterbar > ul {
  display: inline-block;
}

#filterbar ul li {
  display: block;
  float: left;
  list-style: none;
}

#filterbar a {
  display: inline-block;
  margin-right: 4px;
  padding: 0 .6em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: #444;
  text-decoration: none;
}

#filterbar a:focus,
#filterbar a:hover,
#filterbar a.active {
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
  background-color: #CCC;
  outline: none;
}

#filterbar a.active {
  background-color: #999;
}


/* torrents list */
#torrents {
  width: 100% !important;
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;
  overflow: visible;
}

.main.info {
  background: transparent url(images/kettu_bg_info.png) repeat-y 100% 0;
}

.main.info .torrents_container {
  display: block;
  width: 550px !important;
  min-height: 10px;
  float: left;
  overflow: visible;
}
/* torrents list container */

#torrents li {
  display: block;
  padding: 6px 30px;
  border-bottom: solid 1px #DDD;
}
#torrents li.compact {
padding: 3px 30px;
}

/* compact view */
.compact .progressbar {
  width: 60px;
  display: inline-block;
}

.compact .name {
  display: inline-block;
}

.compact .statusString {
  display: inline-block;
}

#data {
  display: none;
}

.graphs {
  margin-bottom: 50px;
}

.hint {
  color: #888888;
  font-size: 80%;
}