#update_torrent .files {
  list-style-type: none;
}

.statusString.error {
  color: red;
  border: 0px;
  padding: 0px;
  background-color: white;
  margin: 0px;
}

.files_in_folders {
  display: none;
}

ul#sorts {
  display: none;
}