body {
  margin: 0px;
  padding: 0px;
  font-size: 62.5%; /* 10px */
  color: #444;
  background: url("images/kettu_bg.png") repeat-y 50% 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .5em;
}

#info,
#info h1, #info h2, #info h3, #info h4, #info h5, #info h6 {
  color: #444;
}

/* structure */
header, 
footer {
  position: fixed;
  height: 2em;
  width: 100%;
  line-height: 2;
  z-index: 10;
}

header {
  height: 140px;
  background: url("images/kettu_bg_header_with_logo.png") no-repeat 50% 0;
}

.container {
  margin-bottom: 20px;
  padding-top: 140px;
  overflow: visible;
}

footer {
  background-color: #555;
  border-top: 1px solid #555;
  border-bottom: 1px solid #999;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  box-shadow: 0 -10px 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 -10px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 -10px 10px rgba(0,0,0,.1);
}

footer nav {
  width: 950px;
  margin: 0 auto;
  padding: 0;
}

footer nav ul {
  margin: 0;
  padding: 0;
}

/* bottom navigation */
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  list-style: none;
}

nav ul li a {
  float: left;
  height: 2em;
  display: block;
  color: #DDD;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  text-align: center;
  padding: 0 3em;
  border-right: 1px solid #444;
  border-left: 1px solid #666;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 0.4s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, background-color;
  -moz-transition-duration: 0.4s, 0.1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: color, background-color;
  -o-transition-duration: 0.4s, 0.1s;
  -o-transition-timing-function: linear, ease-in;
}
nav ul li a.active,
nav ul li a:focus,
nav ul li a:hover {
  color: #FFF;
  background-color: #333;
  border-right: 1px solid #111;
  border-left: 1px solid #777;
  outline: none;
}

/* bottom nav, toggles info window */
.info_nav {
  float: right;
}

/* bottom nav, toggles compact view and speed limit mode */
.icon_nav {
  
}

nav ul.icon_nav li a {
  width: 40px;
  padding: 0;
  text-indent: -9999px;
  background-image: url(images/kettu_icons.png);
  background-repeat: no-repeat;
}

nav ul.icon_nav li a.active,
nav ul.icon_nav li a:focus,
nav ul.icon_nav li a:hover {

}

/* icons for bottom nav */
#compact_view {
  background-position: -32px 0;
}

#compact_view.active,
#compact_view:hover,
#compact_view:focus {
  background-position: -32px -41px;
}

#speed_limit_mode {
  background-position: 10px 0;
}

#speed_limit_mode.active,
#speed_limit_mode:hover,
#speed_limit_mode:focus {
  background-position: 10px -41px;
}

#start_all {
  background-position: center center;
  background-image: url(images/start_all.png);
}

#stop_all {
  background-position: center center;
  background-image: url(images/stop_all.png);
}


/* flash */
#flash {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  font-weight: bold;
  color: #FFF;
  background-color: #444;
  background-color: rgba(0,0,0,0.7);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#globalUpAndDownload {
  width: 920px;
  height: 20px;
  margin: 3.5em auto 0 auto;
  padding: 0;
  padding-right: 30px;
  text-align: right;
}

.torrent:nth-child(odd) {
  background-color: #FFF;
  background: -moz-linear-gradient(left, right, from(white), to(#F6F6F6));
  background: -webkit-gradient(linear, center top, center bottom, from(white), to(#F7F7F7));
  overflow: hidden;
}

.torrent:nth-child(even) {
  background-color: #FAFAFA;
  background: -moz-linear-gradient(left, right, from(#F7F7F7), to(#EFEFEF));
  background: -webkit-gradient(linear, center top, center bottom, from(#F6F6F6), to(#EDEDED));
  overflow: hidden;
}

.torrent {
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: background;
  -moz-transition-duration: 0.4s, 0.1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: background;
  -o-transition-duration: 0.4s, 0.1s;
  -o-transition-timing-function: linear, ease-in;
}

.torrent.active {
  background-color: #E7E7E7 !important;
  background: -webkit-gradient(linear, center top, center bottom, from(#DFDFDF), to(#D3D3D3));
  color: #000;
}
.torrent.active h3 {
  color: #000;
  text-shadow: 1px 1px 10px #FFF;
}

.torrent .ui-widget-header-uploading {
  border: 1px solid #AAA; 
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_60_4ca20b_1x100.png) repeat-x;
}

.torrent .ui-widget-header-verifying {
  border: 1px solid #AAA; 
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x;
}

.torrent .ui-widget-header-downloading {
  border: 1px solid #AAA; 
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x;  
}

.torrent .ui-widget-header-meta {
  border: 1px solid #AAA; 
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-hard_75_f5f5b5_1x100.png) repeat-x;
}

.torrent .ui-widget-header-paused {
  border: 1px solid #AAA; 
  color: #444;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x;
}

/* torrent control buttons */
.buttons {
  display: block;
  float: right;
}

.buttons form {
  display: inline;
}

.buttons input[type='submit'],
.buttons a {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buttons .pauseAndActivateButton {
  float: left;
  display: block;
  margin-right: 1em;
  color: transparent;
  background-color: transparent;
  border: 0;
}

.pauseAndActivateButton.activate {
  background: transparent url(images/control_play.png) no-repeat;
}

.pauseAndActivateButton.pause {
  background: transparent url(images/control_pause.png) no-repeat;
}

.deleteButton {
  color: transparent;
  background: transparent url(images/control_eject.png) no-repeat;
}


.torrent .statusString {
  clear: both;
  color: #999;
}

.torrent .progressDetails {
  margin: 0px;
  padding: 0px;  
  color: #555;
}

/* filterbar */
#filterbar {
  width: 890px;
  height: 30px;
  margin: 54px auto 0 auto;
  border-bottom: 1px solid #CCC;
  overflow: hidden;
  padding: 0 30px;
}

#filterbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#filterbar > ul {
  display: inline-block;
}

#filterbar ul li {
  display: block;
  float: left;
  list-style: none;
}


/* sorts dropdown menu */
.sorts_dropdown {
  padding-left: 310px;
}

.sorts_dropdown > a {
  width: 80px;
  margin: 0;
  padding: 0;
  display: block;
}

.sorts_dropdown > a:hover,
.sorts_dropdown > a:active,
.sorts_dropdown > a:focus {
  background: 0;
}

ul#sorts {
  width: 100px;
  position: absolute;
  display: block;
/*  display: none; */
  background-color: #FFF;
  background-color: rgba(255,255,255,.9);
  padding: 0px;
  border: 1px solid #BBB;
  list-style-type: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
}

ul#sorts li {
  display: block;
  float: none;
  padding: 0;
  border-bottom: solid 1px #DDD;
}
ul#sorts li:hover {
  background-color: #CCC;
}
ul#sorts li a {
  display: block;
  cursor: pointer;
}

#filterbar a {
  display: inline-block;
  margin-right: 4px;
  padding: 0 .6em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: #444;
  text-decoration: none;
}

#filterbar a:focus,
#filterbar a:hover,
#filterbar a.active {
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
  background-color: #CCC;
  outline: none;
}

#filterbar a.active {
  background-color: #999;
}

#filterbar #filter_sort_links {
  width: 730px;
  float: left;
}

#filterbar a#sort_link {
  background: none;
  width: 80px;
}

#filterbar a#sort_link:hover,
#filterbar a#sort_link:active,
#filterbar a#sort_link:focus {
  color: #000;
  text-shadow: none;
}


#filterbar #search_filter {
  width: 140px;
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
}

#filterbar input {
  margin: 0;
  padding: 3px 10px;
  border: 1px solid #999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1em;
}

#filterbar input:focus {
  outline: none;
}

/* reverse link, triangle */
#reverse_link {
  width: 12px;
  padding: 0;
  text-indent: -9999px;
  background-image: url(images/kettu_icons.png);
  background-repeat: no-repeat;
  background-position: -100px 2px;
}

#reverse_link.reverse {
  background-position: -77px 2px;
}

#reverse_link.active,
#reverse_link:hover,
#reverse_link:focus {
  background-position-y: -40px;
}


/* torrents list */
#torrents {
  width: 100% !important;  
  padding: 0px;
  margin: 0px;
}

.main {
  position: relative;
  overflow: visible;
}

.main.info {
  background: transparent url(images/kettu_bg_info.png) repeat-y 100% 0;
}

.main.info .torrents_container {
  display: block;
  width: 550px !important;
  min-height: 10px;
  float: left;
  overflow: visible;
}
/* torrents list container */

#torrents li {
  display: block;
  padding: 6px 30px;
  border-bottom: solid 1px #DDD;
}
#torrents li.compact {
padding: 3px 30px;
}

/* info */
#info {
  width: 379px;
  float: left;
  padding: 1em 10px 1.5em 10px;
  background-color: #FAFAFA;
  display: none;
  border-left: 1px solid #DDD;
  overflow: auto;
}

#info table {
  width: auto;
}

#info .content {
  width: 100%;
  margin-bottom: 1.5em;
  padding-top: .5em;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}
#info .peers {
  margin-bottom: 20px;
}
#info .peers th {
  padding: 7px;
  margin-right: 10px;
  text-align: left;
  font-weight: normal;
}

#info a {
  color: #444;
}

#info a:hover,
#info a:active,
#info a:focus {
  color: #DDD;
}

#info .peers th.long {
  width: 40%;
}
#info ul {
  list-style-type: none;
  padding-left: 0;
}
#info li {
  padding-bottom: 6px;
  padding-left: 0px;
  margin-left: 0px;
}

#info input[type='text'],
#info input[type='url'],
#info input[type='number'] {
  border: solid 1px #DDD;
  padding: 1px;
}

#info input.short {
  width: 35px;
}

#info input.long {
  width: 250px;
}

#info input.file {
  border: 0px;
}

#info td.long {
  width: 62px;
}

#info #port-open {
  margin-top: 3px;
  width: 15px;
  height: 15px;
  background-color: red;
  float: right;
  display: none;
}

#info #port-open.active {
  background-color: green;
}

#info #port-open.waiting {
  background-image: url('images/spinner.gif');
  background-color: transparent !important;
}

#info #version {
  color: #555;
}

#info nav {
  height: 20px;
  margin: -1em -10px 1em -10px;
  background-color: #FFF;
  border-bottom: 1px solid #DFDFDF;
}

#info .menu {
  padding: 0;
  overflow: hidden;
  border-top: 0;
  border-bottom: 0;
}
#info .menu li {
  float: left;
  margin-right: 0;
  padding-bottom: 0;
}

#info nav ul.menu li a {
  width: auto;
  height: 2em;
  line-height: 2em;
  display: block;
  padding: 0 1em;
  border-right: 1px solid #DFDFDF;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #DFDFDF;
  text-shadow: 1px 1px 1px #FFF;
  background-color: #FFF;
  -webkit-transition-property: color, background;
  -webkit-transition-duration: 0.4s, 0.1s;
  -webkit-transition-timing-function: linear, ease-in;
  -moz-transition-property: color, background;
  -moz-transition-duration: 0.4s, 0.1s;
  -moz-transition-timing-function: linear, ease-in;
  -o-transition-property: color, background;
  -o-transition-duration: 0.4s, 0.1s;
  -o-transition-timing-function: linear, ease-in;
}

#info nav ul.menu li a.active,
#info nav ul.menu li a:focus,
#info nav ul.menu li a:hover {
  color: #000;
  text-shadow: 1px 1px 1px #FFF;
  background-color: #FAFAFA;
}

#info .menu li a.active {
  border-bottom: 1px solid #FAFAFA;
}

#info .percent_done {
  font-size: 10px;
  color: #666666;
}

#info .priority {
  font-size: 12px;
  color: #666666;
}

#pie_chart {
  margin-left: 30px;
  margin-top: 30px;
}

.menu-item {
  text-decoration: none;
  color: #DDD;
}
.menu-item.active {
  color: #FFF;
}

.progress {
  overflow: hidden;
}

.progressbar {
  width: 92%;
}

.ui-progressbar {
  margin: 4px 4px 4px 0;
}

/* compact view */
.compact .progressbar {
  width: 60px;
  display: inline-block;
}

.compact .name {
  display: inline-block;  
}

.compact .statusString {
  display: inline-block;
}

#data {
  display: none;
}

.graphs {
  margin-bottom: 50px;
}

.hint {
  color: #888888;
  font-size: 80%;
}

/* context menu */
#context_menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFF;
  background-color: rgba(255,255,255,.8);
  padding: 0px;
  border: 1px solid #BBB;
  list-style-type: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
}

#context_menu li {
  text-align: center;
  border-bottom: solid 1px #DDD;
  padding: 0;
}

#context_menu li.hover {
  background-color: #CCC;
}

#context_menu li form {
  display: inline;
  margin: 0;
  padding: 0;
}

#context_menu li input[type='submit'],
#context_menu li a {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background: none;
  color: #444;
  text-decoration: none;
  outline: none;
  position: relative;
  overflow: visible; /* removes extra side padding in IE */
  font-size: 1em;
}

#context_menu li input[type='submit']:hover,
#context_menu li input[type='submit']:focus,
#context_menu li input[type='submit']:active,
#context_menu li a:hover,
#context_menu li a:focus,
#context_menu li a:active {
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}