body{
  margin: 0px;
  padding: 0px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #442244;
  margin: 0px;
  padding: 0px;
}
#ratiobar {
  height: 20px;
  background-color: #cccccc;
  width: 100%;
  margin: 0px;
  padding: 3px;
}
#ratiobar #numberOfTorrents {
  float: left;
}
#ratiobar #globalUpAndDownload {
  float: right;
}
#torrents {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
#torrents li {
  display: block;
  padding: 5px;
  border: solid 1px #dddddd;
}
#footer {
  height: 40px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #442244;
}
.torrent .ui-widget-header-active {
  border: 1px solid #aaaaaa; 
  color: #222222;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) repeat-x;
}

.torrent .ui-widget-header-paused {
  border: 1px solid #aaaaaa; 
  color: #222222;
  font-weight: bold;
  background: url(jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png) repeat-x;
}

.torrent .pauseAndActivateButton {
  display: block;
  color: transparent;
  background-color: transparent;
  border: 0px;
  float: right;
  margin-right: 10px;
}

.torrent .pauseAndActivateButton.activate {
  background-image: url(images/control_repeat.png);
  width: 15px;
  height: 15px;
}

.torrent .pauseAndActivateButton.pause {
  background-image: url(images/control_pause.png);
  width: 15px;
  height: 15px; 
}

.torrent .status {
  clear: both;
  font-size: 12px;
}

#filterbar {
  display: none;
  padding: 2px;
  padding-left: 8px;
}

#filterbar a {
  color: #555555;
  text-decoration: none;
  margin-right: 4px;
}

#filterbar a.active {
  color: #222222;
}