var LocationCategories = [
  {name:"Some location", location:"/home/user/folder1"},
  {name:"Another location", location:"/home/user/folder2"},
  {group:"Some group", items: [
    {name:"Item1", location:"/home/user/item1"},
    {name:"Item2", location:"/home/user/item2"},
    {name:"Item3", location:"/home/user/item3"}
  ]},
  {name:"Third location", location:"/home/user/third"},
  {group:"Another group", items: [
    {name:"Item4", location:"/home/user/item4"},
    {name:"Item5", location:"/home/user/item5"},
    {name:"Item6", location:"/home/user/item6"}
  ]}
];
