<nav>
  <ul class="menu">
    <li><a href="#/statistics" class="menu-item" data-item="data">Data</a></li>
    <li><a href="#/statistics" class="menu-item" data-item="graphs">Graphs</a></li>
  </ul>
</nav>

<h2>Current Statistics</h2>

<div class="item data">
  <table class="content">
    <tr>
      <th>Number of Torrents:</th>
      <td>{{number_of_torrents}}</td>
    </tr>
    <tr>
      <th>Uploaded:</th>
      <td>
        {{uploaded}}<br />
        {{uploaded_total}} total
      </td>
    </tr>
    <tr>
      <th>Downloaded:</th>
      <td>
        {{downloaded}}<br />
        {{downloaded_total}} total
      </td>
    </tr>
    <tr>
      <th>Time active:</th>
      <td>
        {{time_active}}<br />
        {{time_active_total}} total
      </td>
    </tr>
  </table>
</div>


<div class="item graphs">
  <canvas id="torrents_by_status"></canvas>
  <canvas id="up_and_download_stats"></canvas>
</div>