<nav>
  <ul class="menu">
    <li><a href="#/settings" class="menu-item" data-item="general">General</a></li>
    <li><a href="#/settings" class="menu-item" data-item="network">Network</a></li>
    <li><a href="#/settings" class="menu-item" data-item="bandwidth">Bandwidth</a></li>
    <li><a href="#/settings" class="menu-item" data-item="peers">Peers</a></li>
  </ul>
</nav>

<h2>Preferences</h2>

<div id="errors"></div>

<form action="#/settings" method="PUT">
  <div class="item general">
    <table class="content">
      <tr>
        <th>Download Directory:</th>
        <td><input type="text" name="download-dir" value="{{download-dir}}" class="long download-dir" /></td>
      </tr>
      <tr>
        <th>Encryption:</th>
        <td>
          <select name="encryption" class="encryption">
            <option value="required">Required</option>
            <option value="preferred">Preferred</option>
            <option value="tolerated">Tolerated</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>Enable Protocol Handler (magnet:):</th>
        <td>
          <input type="checkbox" name="protocol-handler-enabled" class="protocol-handler-enabled" /><br />
          <span class="hint">This is a feature not all browsers may support yet.
            Once enabled, you can only disable this in your browser settings.</span>
        </td>
      </tr>
      <tr>
        <th>Enable Content Handler (.torrent):</th>
        <td>
          <input type="checkbox" name="content-handler-enabled" class="content-handler-enabled" /><br />
          <span class="hint">This is a feature not all browsers may support yet.
            Once enabled, you can only disable this in your browser settings.</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="item network">
    <table class="content">
      <tr>
        <th>Enable Micro Transport Protocol:</th>
        <td>
          <input type="checkbox" name="utp-enabled" class="utp-enabled" /><br />
        </td>
      </tr>
      <tr>
        <th>Incoming TCP Port:</th>
        <td class="long">
          <input type="number" name="peer-port" value="{{peer-port}}" class="short peer-port" min="1024" max="65535" />
          <div id="port-open"></div>
        </td>
      </tr>
      <tr>
        <th>Randomize Port on Launch:</th>
        <td>
          <input type="checkbox" name="peer-port-random-on-start" class="peer-port-random-on-start" /><br />
        </td>
      </tr>
      <tr>
        <th>Automatically Map Port:</th>
        <td>
          <input type="checkbox" name="port-forwarding-enabled" class="port-forwarding-enabled" /><br />
        </td>
      </tr>
    </table>
  </div>
  <div class="item bandwidth">
    <h3>Normal mode</h3>
    <table class="content">
      <tr>
        <th>Speed Limit Download:</th>
        <td>
          <input type="checkbox" name="speed-limit-down-enabled" /> 
          <input type="number" name="speed-limit-down" value="{{speed-limit-down}}" class="short speed-limit-down" /> KB/s
        </td>
      </tr>
      <tr>
        <th>Speed Limit Upload:</th>
        <td>
          <input type="checkbox" name="speed-limit-up-enabled" /> 
          <input type="number" name="speed-limit-up" value="{{speed-limit-up}}" class="short speed-limit-up" /> KB/s
        </td>
      </tr>
    </table>
    <h3>Speed Limit Mode</h3>
    <table class="content">
      <tr>
        <th>Speed Limit Download:</th>
        <td>
          <input type="number" name="alt-speed-down" value="{{alt-speed-down}}" class="short alt-speed-down" /> KB/s
        </td>
      </tr>
      <tr>
        <th>Speed Limit Upload:</th>
        <td>
          <input type="number" name="alt-speed-up" value="{{alt-speed-up}}" class="short alt-speed-up" /> KB/s
        </td>
      </tr>
    </table>
  </div>
  <div class="item peers">
    <table class="content">
      <tr>
        <th>DHT enabled:</th>
        <td><input type="checkbox" name="dht-enabled" class="dht-enabled" /></td>
      </tr>
      <tr>
        <th>PEX enabled:</th>
        <td><input type="checkbox" name="pex-enabled" class="pex-enabled" /></td>
      </tr>
    </table>
  </div>
</form>

<div id="version">Transmission Version: {{version}}, Kettu Version: 0.2.</div>