<h2>Settings</h2>

<p>Version: {{version}}</p>

<form action="#/settings" method="PUT">
  <table class="content">
    <tr>
      <th>Download Directory:</th>
      <td><input type="text" name="download-dir" value="{{download-dir}}" /></td>
    </tr>
    <tr>
      <th>Incoming TCP Port:</th>
      <td><input type="text" name="peer-port" value="{{peer-port}}" /></td>
    </tr>
    <tr>
      <th>Speed Limit Download:</th>
      <td>
        <input type="checkbox" name="speed-limit-down-enabled"> 
        <input type="text" name="speed-limit-down" value="{{speed-limit-down}}" class="short" /> KB/s
      </td>
    </tr>
    <tr>
      <th>Speed Limit Upload:</th>
      <td>
        <input type="checkbox" name="speed-limit-up-enabled"> 
        <input type="text" name="speed-limit-up" value="{{speed-limit-up}}" class="short" /> KB/s
      </td>
    </tr>
    <tr>
      <th>Refresh Web Client every:</th>
      <td>{{reload_interval}} seconds</td>
    </tr>
    <tr>
      <th>DHT enabled:</th>
      <td><input type="checkbox" name="dht-enabled"></td>
    </tr>
    <tr>
      <th>PEX enabled:</th>
      <td><input type="checkbox" name="pex-enabled"></td>
    </tr>
  </table>
</form>