{{#not_paused}}
  <li class="pause">
    <form action="#/torrents" method="PUT">
      <input type="hidden" name="ids" class="ids" value="{{ids}}" />
      <input type="hidden" name="method" value="torrent-stop" />
      <input type="submit" value="Pause" />
    </form>
  </li>
{{/not_paused}}
{{#paused}}
  <li class="activate">
    <form action="#/torrents" method="PUT">
      <input type="hidden" name="ids" class="ids" value="{{ids}}" />
      <input type="hidden" name="method" value="torrent-start" />
      <input type="submit" value="Resume" />
    </form>
  </li>
{{/paused}}
<li class="verify">
  <form action="#/torrents" method="PUT">
    <input type="hidden" name="ids" class="ids" value="{{ids}}" />
    <input type="hidden" name="method" value="torrent-verify" />
    <input type="submit" value="Verify" />
  </form>
</li>
<li class="reannounce">
  <form action="#/torrents" method="PUT">
    <input type="hidden" name="ids" class="ids" value="{{ids}}" />
    <input type="hidden" name="method" value="torrent-reannounce" />
    <input type="submit" value="Ask tracker for more peers" />
  </form>
</li>
<li class="delete">
  <a onclick="kettu.app.trigger('create-delete-facebox');">Delete</a>
</li>

{{#deselect_all}}
  <li class="deselect_all">
    <a href="#" class="deselect_all_link">Deselect All</a>
  </li>
{{/deselect_all}}

{{^deselect_all}}
  <li class="select_all">
    <a href="#" class="select_all_link">Select All</a>
  </li>
{{/deselect_all}}