{{#torrents}}
  <li id="{{id}}">
    <strong>{{name}}</strong><br />
    {{progressDetails}}<br />
    
    <div class="progress">
      <div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
        {{{progressBar}}} 
      </div>
      {{{pauseAndActivateButton}}}      
    </div>
    
    {{statusString}}
  </li>
{{/torrents}}