<h2>Add a Torrent</h2>

<form method="POST" action="#/torrents">
  <p>
    <label for="url">URL:</label>
    <input type="text" name="url" class="long" />
  </p>
  
  <p><input type="submit" value="Add Torrent" class="submit" /></p>
</form>