<h2>Add Torrent</h2>

<p>
  Please {{^isMobile}}upload the torrent or {{/isMobile}}provide a URL where the torrent can be found.
  {{#isMobile}}The torrent will be started right away.{{/isMobile}}
</p>

<form method="POST" action="#/torrents" enctype="multipart/form-data" id="add_torrent_form">
  {{^isMobile}}
  <p>
    <label for="torrent_files[]">File:</label>
    <input type="file" name="torrent_files[]" class="file" multiple="multiple" />
  </p>

  or
  {{/isMobile}}
  <p>
    <label for="url">URL:</label>
    <input type="url" name="url" class="long" />
  </p>

  <p><input type="submit" value="Add Torrent" class="submit" /></p>
</form>
