<h2>Add Torrent</h2>

<p>Please upload the torrent or provide a URL where the torrent can be found.</p>

<form method="POST" action="#/torrents" enctype="multipart/form-data" id="add_torrent_form">
  <p>
    <label for="torrent_files[]">File:</label>
    <input type="file" name="torrent_files[]" class="file" multiple="multiple" />
  </p>
  
  or
  
  <p>
    <label for="url">URL:</label>
    <input type="url" name="url" class="long" />
  </p>
  
  <p><input type="submit" value="Add Torrent" class="submit" /></p>
</form>