<img src="css/images/start.png" class="image" />

<p class="message">
  You have added the torrent:<br />
  "{{name}}" ({{totalSizeString}}).
</p>

<form id="update_torrent" method="PUT" action="#/torrents/{{id}}">  
  <ul class="files">
    {{#files}}
      <li>
        <input type="checkbox" name="{{id}}" id="{{id}}" class="file"{{wanted}}{{disabled}} /> {{name}}<br />
      </li>
    {{/files}}
  </ul>

  <div class="facebox_buttons">

    {{#showLocationCategories}}
      <p>
        <select class="locationCategory" id="locationCategory">
          {{#locationCategories}}
            {{#optgroup}}
              <optgroup label="{{optgroup}}">
                {{#items}}
                  <option value="{{location}}">{{name}}</option>
                {{/items}}
              </optgroup>
            {{/optgroup}}
            {{^optgroup}}
              <option value="{{location}}">{{name}}</option>
            {{/optgroup}}
          {{/locationCategories}}
          <option value="__custom__">Custom...</option>
        </select>
      </p>
    {{/showLocationCategories}}

    <p class="location">
      <input type="text" name="location" value="{{downloadDir}}" />
    </p>
    
    <p>
      <input type="checkbox" name="start_download" checked="checked" />
      <label for="start_download">Start Download</label><br />      
    </p>

    <p><input type="submit" value="Update Torrent" /></p>
  </div>
</form>
