<img src="css/images/start.png" class="image" />

<p class="message">
  You have added the torrent:<br />
  "{{name}}" ({{totalSizeString}}).
</p>

<form id="update_torrent" method="PUT" action="#/torrents/{{id}}">
  <div class="facebox_buttons">
    Download the torrent to:<br />

    {{#showLocations}}
      <p>
        <select class="locationSelect">
          {{#locations}}
            {{#group}}
              <optgroup label="{{group}}">
                {{#items}}
                  <option value="{{path}}">{{name}}</option>
                {{/items}}
              </optgroup>
            {{/group}}
            {{^group}}
              <option value="{{path}}">{{name}}</option>
            {{/group}}
          {{/locations}}
        </select>
      </p>
    {{/showLocations}}

    <p class="location">
      <input type="text" name="location" value="{{downloadDir}}" />
    </p>

    <p>
      <input type="checkbox" name="start_download" checked="checked" />
      <label for="start_download">Start Download</label><br />
    </p>

    <p><input type="submit" value="Update Torrent" /></p>
  </div>
</form>
