<form action="#/torrents/{{id}}" method="PUT">
  <input type="hidden" name="method" value="{{method}}"/>
  <input type="submit" value="{{button}}" class="pauseAndActivateButton {{css_class}}" />
</form>
