<form action="#/torrents/{{id}}" method="PUT" class="pauseAndActivateButtonForm">
  <input type="hidden" name="method" value="{{method}}"/>
  <input type="submit" value="{{button}}" class="pauseAndActivateButton ui-btn-left ui-btn-icon-left ui-btn-corner-all ui-btn-down-d ui-btn-up-d {{css_class}}" data-theme="d" data-icon="arrow-l" />
</form>
