<h2>{{name}}</h2>

<p>{{totalSize}}</p>

<h3>Information</h3>
<p>
  <span class="label">Pieces:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Hash:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Secure:</span>
  <span class="value"></span>
</p>
<p>  
  <span class="label">Comment:</span>
  <span class="value"></span>
</p>

<h3>Created By</h3>
<p>
  <span class="label">Creator:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Date:</span>
  <span class="value">{{created_at}}</span>
</p>

<h3>Where</h3>
<p>
  <span class="label">Download Directory:</span>
  <span class="value"></span>
</p>
  

<h3>Activity</h3>
<p>
  <span class="label">State:</span>
  <span class="value">{{statusWord}}</span>
</p>
<p>
  <span class="label">Progress:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Have:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Downloaded:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Uploaded:</span>
  <span class="value">{{uploadedEver}}</span>
</p>
<p>
  <span class="label">Ratio:</span>
  <span class="value">{{uploadRatio}}</span>
</p>
<p>
  <span class="label">Error:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Download speed:</span>
  <span class="value">{{rateDownload}}</span>
</p>
<p>
  <span class="label">Upload speed:</span>
  <span class="value">{{rateUpload}}</span>
</p>


<h3>Peers</h3>
<p>
  <span class="label">Upload to:</span>
  <span class="value"></span>
</p>
<p>
  <span class="label">Download from:</span>
  <span class="value"></span>
</p>


<h3>Files</h3>