<li id="{{id}}" class="torrent {{statusWord}}" data-tracker="{{firstTracker}}">
  <h3 class="name">
    {{name}}
    {{#showPriorityArrow}}
      <img src="css/images/priority_{{priorityArrow}}.png" class="priority" />
    {{/showPriorityArrow}}
  </h3>
  <p class="progressDetails">{{progressDetails}}</p>

  <div class="progress">
    <div class="progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all">
      {{{progressBar}}}
    </div>
    <div class="buttons">
      <div class="pauseAndActivateButton">{{{pauseAndActivateButton}}}</div>
    </div>
  </div>

  <div class="statusString{{errorClass}}">{{statusString}}</div>

  {{{deleteForm}}}
</li>
