<li class="file_info">
  <span class="file_name">{{name}}</span>
  {{^isMobile}}
    <img src="css/images/priority_{{priorityArrow}}_small.png" class="priority compact {{priorityArrow}}" />
    <input type="hidden" name="{{id}}_priority" value="{{priorityArrow}}" data-id="{{id}}" class="priority_hidden priority_file" />
  {{/isMobile}}
  <input type="checkbox" name="{{id}}" id="{{id}}" class="file"{{wanted}}{{disabled}} />
  <br />
  <span class="percent_done">
    {{percentDone}}% of {{lengthFormatted}}
  </span>
</li>
