<nav>
  <ul class="menu">
    <li><a href="#" class="menu-item" id="menu-item-information" data-item="information">Information</a></li>
    <li><a href="#" class="menu-item" id="menu-item-activity" data-item="activity">Activity</a></li>
  </ul>
</nav>
<h3>{{number_of_torrents}} Torrents Selected</h3>

<div class="item information">
  <table class="content">
    <tr>
      <th>Size:</th>
      <td>{{size}}</td>
    </tr>
    <tr>
      <th>Pieces:</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Hash:</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Secure:</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Comment:</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Creator:</th>
      <td>N/A</td>
    </tr>
    <tr>
      <th>Date:</th>
      <td>N/A</td>
    </tr>
  </table>
</div>

<div class="item activity">
  <table class="content">
    <tr>
      <th>State:</th>
      <td class="status_word">{{status_words}}</td>
    </tr>
    <tr>
      <th>Progress:</th>
      <td>{{percent_done}}%</td>
    </tr>
    <tr>
      <th>Downloaded:</th>
      <td>{{downloaded}}</td>
    </tr>
    <tr>
      <th>Uploaded:</th>
      <td>{{uploaded}}</td>
    </tr>
    <tr>
      <th>Ratio:</th>
      <td>{{ratio}}</td>
    </tr>
    <tr>
      <th>Download speed:</th>
      <td>{{rate_download}}</td>
    </tr>
    <tr>
      <th>Upload speed:</th>
      <td>{{rate_upload}}</td>
    </tr>
    <tr>
      <th>Peers - Upload to:</th>
      <td>{{peers_upload}}</td>
    </tr>
    <tr>
      <th>Peers - Download from:</th>
      <td>{{peers_download}}</td>
    </tr>
  </table>
</div>
