<nav>
  <ul class="menu">
    <li><a href="#/torrents/{{id}}" class="menu-item" id="menu-item-information" data-item="information">Information</a></li>
    <li><a href="#/torrents/{{id}}" class="menu-item" id="menu-item-activity" data-item="activity">Activity</a></li>
    <li><a href="#/torrents/{{id}}" class="menu-item" id="menu-item-trackers" data-item="trackers">Trackers</a></li>
  </ul>
</nav>
<h3>{{name}}</h3>

<div class="item information">
  <form action="#/torrents/{{id}}" method="PUT">
    <table class="content">
      <tr>
        <th>Size:</th>
        <td>{{totalSizeString}}</td>
      </tr>
      <tr>
        <th>Pieces:</th>
        <td>{{pieceCount}}, {{pieceSizeString}}</td>
      </tr>
      <tr>
        <th>Hash:</th>
        <td>{{hashString}}</td>
      </tr>
      <tr>
        <th>Secure:</th>
        <td>{{secure}}</td>
      </tr>
      <tr>
        <th>ETA:</th>
        <td class="eta">{{etaString}}</td>
      </tr>
      <tr>
        <th>Comment:</th>
        <td>{{comment}}</td>
      </tr>
      <tr>
        <th>Creator:</th>
        <td>{{creator}}</td>
      </tr>
      <tr>
        <th>Date:</th>
        <td>{{created_at}}</td>
      </tr>
      <tr>
        <th>Error:</th>
        <td class="error">{{errorString}}.</td>
      </tr>
    </table>
  </form>
</div>

<div class="item activity">
  <table class="content">
    <tr>
      <th>State:</th>
      <td class="status_word">{{statusWord}}</td>
    </tr>
    <tr>
      <th>Progress:</th>
      <td>{{percentDone}}%</td>
    </tr>
    <tr>
      <th>Downloaded:</th>
      <td>{{downloadedEverString}}</td>
    </tr>
    <tr>
      <th>Uploaded:</th>
      <td>{{uploadedEverString}}</td>
    </tr>
    <tr>
      <th>Ratio:</th>
      <td>{{uploadRatio}}</td>
    </tr>
    <tr>
      <th>Download speed:</th>
      <td>{{rateDownload}}</td>
    </tr>
    <tr>
      <th>Upload speed:</th>
      <td>{{rateUpload}}</td>
    </tr>
    <tr>
      <th>Peers - Upload to:</th>
      <td>{{peersGettingFromUs}}</td>
    </tr>
    <tr>
      <th>Peers - Download from:</th>
      <td>{{peersSendingToUs}}</td>
    </tr>
  </table>
</div>

<div class="item trackers">
  <hr />
  {{#trackerStats}}
    <h4>{{host}}</h4>
    <table class="content">
      <tr>
        <th>Last Announce:</th>
        <td>
          {{lastAnnounceTimeFormatted}}
          {{#lastAnnounceDidNotSucceed}}
            <br />{{errorString}}
          {{/lastAnnounceDidNotSucceed}}
        </td>
      </tr>
      <tr>
        <th>Next Announce:</th>
        <td data-timestamp="{{nextAnnounceTime}}" class="countdown">{{nextAnnounceTimeFormatted}}</td>
      </tr>
      <tr>
        <th>Last Scrape:</th>
        <td>
          {{lastScrapeTimeFormatted}}
          {{#lastScrapeDidNotSucceed}}
            <br />{{lastScrapeResult}}
          {{/lastScrapeDidNotSucceed}}
        </td>
      </tr>
      <tr>
        <th>Seeders:</th>
        <td>{{seederCount}}</td>
      </tr>
      <tr>
        <th>Leechers:</th>
        <td>{{leecherCount}}</td>
      </tr>
      <tr>
        <th>Downloaded:</th>
        <td>{{downloadCount}}</td>
      </tr>
    </table>
  {{/trackerStats}}
</div>